h1 {
    position: absolute;
    top: 0px;
    left: 70px;
    font-size: 75px;
}

#tableList {
    border: 1px solid grey;
    border-radius: 10px;
    width: 500px;
    height: 650px;
    margin: 35px;
    background-color: white;
    position: absolute;
    left: 30px;
    top: 180px;
  }

#teamData {
    border: 1px solid grey;
    border-radius: 10px;
    width: 800px;
    height: 650px;
    margin: 35px;
    background-color: white;
    position: absolute;
    left: 600px;
    top: 180px;
}

body {
    margin: 0px;
    font-family: arial;
}

#kopf {
    background-color: #2c3e50;
    height:130px;
}

#kopf a {
    color:white;
    text-decoration: none;
    font-size: 500%;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-left: 745px;
}

#nav a {
    width: 20%;
    display: inline-block;
    float: left;
    text-align: center;
    text-decoration: none;
    color:white;
    height: 40px;
    font-size: 25px;
}

#home {
    color: white;
    border-top: solid 7px #ff3399;
}

#home:hover{
    background-color: #ff99ff;
    color: #2c3e50;
}

#tabelle {
    border-top: solid 7px #33cc33;
}

#tabelle:hover{
    background-color: #99ff99;
    color: #2c3e50;
}

#teams {
    border-top: solid 7px #6666ff;
}

#teams:hover{
    background-color: #99ccff;
    color: #2c3e50;
}

#topspieler {
    border-top: solid 7px orange;
}

#topspieler:hover{
    background-color: #ffff66;
    color: #2c3e50;
}

#livespiele {
    border-top: solid 7px #ff0000;
}

#livespiele:hover{
    background-color: #ff6666;
    color: #2c3e50;
}

#tableHeader {
    margin-top: 35px;
    margin-left: 50px;
    border-collapse: collapse;
    font-family: arial;
    font-size: 25px;
}

#list {
    margin-top: 25px;
    margin-left: 85px;
    border-collapse: collapse;
    width: 60%;
    font-family: arial;
    font-size: 20px;
}

th, td {
    padding: 2.5px;
}

tr:hover{
    cursor: pointer;
    background-color: #ccffcc;
}